* {
  padding: 0;
  margin: 0;
}

body {
  background-color: RGBA(193, 227, 227, 0.4);
}

.container {
  width: 75%;
  margin: 6% auto;

  h1 {
    text-align: center;
    font-family: monospace, serif;
  }

  .form {
    width: 40%;
    margin: 0 auto;
    padding: 5%;
    background-color: RGBA(193, 227, 227, 1);

    .withdraw {
      padding: 4%;
      font-size: 20px;
      text-align: center;
      border-radius: 5px;
      border: 0;
      box-shadow: 1px 1px 0px rgba(0,0,0,0.3), -1px -1px 0px rgba(0,0,0,0.3);
      position: relative;
      top: -30px;
      left: 25%;
    }

    .btn {
      position: relative;
      bottom: -50px;
      right: 120px;
      border: 0;
      padding: 10px;
      background-color: RGBA(109, 97, 104, 0.3);

      &:hover {
        color: white;
      }

      &-left:hover {
        background-color: RGBA(229, 85, 103, 1);
      }
      &-right:hover {
        background-color: RGBA(33, 96, 173, 1);
      }
    }

  }
  .target {
    text-align: center;
    padding: 10px 0;

    .listCount {
      padding: 15px 0;
      font-size: 20px;
      li {
        list-style: none;
      }
    }
  }
}
